<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TTPrime_charp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TTPrime_charp.Properties.Settings>
            <setting name="string_db" serializeAs="String">
                <value>Server=db-prime.mysql.uhserver.com;Database=db_prime;Uid=jefersondev5;Pwd='h4ck3rtcho!@';Connect Timeout=30; convert zero datetime=True</value>
            </setting>
        </TTPrime_charp.Properties.Settings>
    </applicationSettings>
</configuration>